<nav>
    <div class="nav-title">
        <a class="title-a" href="/"><h1>Righty</h1></a>
    </div>
    <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Write</a></li>
    </ul>
</nav>